{% extends 'tl/base.html' %}
{% block title %}
{{ gong_ju.CheJian }}
{% endblock %}
{% block body %}

<div class="page">
<div class="page__bd page__bd_spacing">

        <div class="weui-flex__item">
    <div   class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item_on">
                扫描结果
            </div>
        </div>
    </div>
</div>
            <div  style="padding-top:65px;padding-left:20px;padding-right:20px" >

                <div class="weui-flex">
                    <div class="weui-flex__item">工具：{{gong_ju.GongJu}} </div>
                </div>

                <div class="weui-flex">
                    <div class="weui-flex__item">编号：{{gong_ju.no}} </div>
                </div>
                <div class="weui-flex">
                    <div class="weui-flex__item">工区： {{gong_ju.GongQu}} </div>
                </div>
                <div class="weui-flex">
                    <div class="weui-flex__item">车间：{{gong_ju.CheJian}} </div>
                </div>
</div>
    <div style="padding-top:20px">

        <center>
            <h3>
            <div>记录</div>
            </h3>
        </center>

         <form  method="post" enctype="multipart/form-data">
         {% csrf_token %}
             <div class="weui-cells weui-cells_form">
                 <div class="weui-cell">
                     <div class="weui-cell__bd">
                         <textarea class="weui-textarea" placeholder="反馈内容" rows="7" name="feed_back"></textarea>
                     </div>
                 </div>
             </div>

             <div class="weui-cell">
                 <div class="weui-cell__bd">
                         <input name="img" class="weui-input" type="file" accept="image/*"  placeholder="请选择图片"></input>
                    </div>
             </div>

         <div class="weui-cell">
             <div class="weui-cell__bd">
                 <input name="contact" class="weui-input" type="text" placeholder="联系方式 " />
             </div>

         </div>
            <div class="weui-btn-area" style="padding-top:20px">
                <input type="submit" value="确认" class="weui-btn weui-btn_primary">
</div>
        </form>
    </div>


</div>
{% endblock %}

{% block company %}
{{ gong_ju.CheJian }}
{% endblock %}
